            <h1 class="mt-4">Designing Good quality</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://soniangomo.github.io/Sonia-designs-and-decorations/" class="btn btn-primary">Continue to site</a>